.navbar {
    margin-bottom: 0;
}

.navbar-brand {
    padding: 15px 0;
}

.navbar-toggle {
    margin: 10px 15px 10px 0;
}

.tall-section {
    background-color: #grey; /* Set background color */
    padding: 50px 0; /* Adjust padding */
}
p {
    background-color: grey;
  }
